{% extends "students/essentials/body6.html" %}
{% block content %}
   
            <!--content-->
            <div>
             <h1>MY STUDENTS</h1>   
            </div>
             
            <!--content-->
            <div>
             <h1>Assigned Projects</h1>   
            </div>
            <div class="table-content">
                <div class="table-responsive">          
                 <table class="table-student">
                    <thead class="thead-dark">
                    <tr>
                     <th scope="col">#</th>
                     <th scope="col">  SUBMITTED BY  </th>
                     <th scope="col">  PROJECT  </th>
                     <th scope="col">  UPLOADED ON  </th>
                     <th scope="col">  STATUS </th>
                     <th scope="col"> DOWNLOAD </th>
                     <th scope="col">  REMARKS  </th>
                    </tr>
                    </thead>
                <tbody>
                {% for project in my_projects %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{project.registration_no}}</td>
                        <td>{{project.project_title}}</td>
                        <td>{{project.submission_date}}</td>
                        <td class="text-capitalize">{{project.status}}</td>
                        <td><a href="{{project.pdf.url}}" class="btn btn-primary" target="_blank">Download</a></td>
                        <td><a  class="btn btn-danger" href="{% url 'users:add_remarks'  %}">Remarks</a></td>
                        <!--<td><button type="submit" class="btn btn-primary">FWD TO COORDINATOR</button></td>-->

                    </tr>
                {% endfor %}
                </tbody>
                 </table>
                </div>
            
           </div> 
        
 
{% endblock content%}