{%extends "students/essentials/body4.html"%}
{% block content %}
   <h2> PROJECTS </h2>
   <p>
   <a href="{% url 'upload_project'%}" class= "btn btn-primary">Upload Project</a>
   </p>
   <table class= "table">
       <thead>
           <tr>
               <th>Title</th>
               <th>Registration_no</th>
               <th>Download</th>
           </tr>
       </thead>
       <tbody>
           {% for project in Projects %}
           <tr>
               <td>{{project.title}}</td>
               <td>{{project.registration_no}}</td>
               <td>
               <a href="{{ project.pdf.url }}" class= "btn btn-primary btn-sm" target= "_blank">
               Download pdf
               </a>
               </td>
           </tr>
           {% endfor %}
       </tbody>
   </table>

{% endblock %}