{%extends "students/essentials/body4.html"%}
{% block content %}

             <h1>Submitted Projects</h1>
            </div>
            <div class="table-content">
                <div class="table-responsive">
                 <table class="table-student">
                    <thead class="thead-dark">
                    <tr>
                     <th scope="col">#</th>
                     <th scope="col">  PROJECT TITLE  </th>
                     <th scope="col">  PROJECT PHASE </th>
                     <th scope="col"> STATUS  </th>
                     <th scope="col">  REMARKS OBTAINED  </th>
                    </tr>
                    </thead>
                <tbody>
                {% for project in my_projects %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ project.project_title}}</td>
                        <td>{{ project.phase }}</td>
                        <td>
                            {% for remark in project.student_projects.all %}
                            <p>{{ remark.status }}</p>
                            {% endfor %}
                        </td>

                        <td>
                            {% for remark in project.student_projects.all %}
                                <p>{{remark.remarks_obtained}}</p>
                            {% empty %}
                                <p>No Remarks</p>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                 </table>
                </div>
{% endblock content %}